{% extends 'common/base.html' %}

{% block content %}
<div class="container">
    <h3 class="aegyo-title text-center">Do you want to delete "{{ object.question }}"?</h3>
    <p class="text-center">This action cannot be undone.</p>
    
    <form method="post" class="text-center mt-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-cute btn-danger">Delete Flashcard</button>
        <a href="{% url 'flashcards-list' deck.pk %}" class="btn btn-cute btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}